
  <div class="bg-white dark:bg-dark-700 shadow-md rounded-lg w-full p-6">
    <app-step-indicator [currentStep]="currentStep"></app-step-indicator>

    <form (ngSubmit)="handleSubmit($event)">
      <app-error-messages [errors]="submitErrors"></app-error-messages>

      <ng-container [ngSwitch]="currentStep">
        <app-report-information
          *ngSwitchCase="1"
          [formData]="formData"
          (formChange)="formData = $event">
        </app-report-information>
        <app-animal-information
          *ngSwitchCase="2"
          [formData]="formData"
          (formChange)="formData = $event">
        </app-animal-information>
        <app-location-information
          *ngSwitchCase="3"
          [formData]="formData"
          (formChange)="formData = $event">
        </app-location-information>
        <app-review-information
          *ngSwitchCase="4"
          [formData]="formData">
        </app-review-information>
      </ng-container>

      <app-navigation-controls [currentStep]="currentStep" (prevStep)="prevStep()"
        (nextStep)="nextStep()"></app-navigation-controls>
    </form>
  </div>

