body {
  background-color: rgb(223, 219, 219);
}
.bellClass {
  margin-left: 10rem;
}

.profile {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.profile img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ddd;
  margin-right: 8px;
}

.profile-name {
  font-size: 0.9em;
  color: #333;
}

.profile-arrow {
  font-size: 12px;
  color: #666;
  margin-left: 5px;
}
.navbar {
  width: 100%;
}
