<main class="">
  <div
    class="containerL display-flex align-items-center justify-content-center"
  >
    <div class="Login">
      <div class="title">
        <h3>Iniciar Sesion</h3>
      </div>
      <div class="inputs pr-8">
        <input
          class="inputslogin"
          type="text"
          placeholder="Nombre de Usuario o Email"
        />
        <input
          class="inputslogin"
          type="password"
          name="#"
          id="#"
          placeholder="Contraseña"
        />
        <div class="checkbox">
          <input class="p-10" type="checkbox" name="#" id="#" />
          <h5>Recordar Inicio de sesion</h5>
        </div>
      </div>
      <div class="button">
        <button class="iniciar" type="submit">Iniciar Sesion</button>
        <button
          class="crear border-indigo-700 border-2"
          type="submit"
          routerLink="/form-signup"
        >
          Crear Cuenta
        </button>
      </div>
    </div>
    <div class="Textright">
      <h4 class="parrafo">Que gutos verte de nuevo</h4>
      <h2 class="titletext">Bienvenido de nuevo</h2>

      <div class="container mx-52 pb-11 pt-2">
        <div class="h-4 w-2/4 bg-white rounded-lg"></div>
      </div>

      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
        natus libero earum corporis, quam odio, suscipit consequuntur optio a
        deserunt expedita illo accusamus atque sit quidem distinctio quae vel!
        Totam.
      </p>
    </div>
  </div>
</main>
