<main>
  <div class="container">
    <div class="Login">
      <div class="title">
        <h3>Iniciar Sesion</h3>
      </div>
      <div class="inputs">
        <input class="inputslogin" type="text" placeholder="Nombre deUsuario o Email" />
        <input class="inputslogin" type="password" name="#" id="#" placeholder="Contraseña" />
        <div class="checkbox">
          <input type="checkbox" name="#" id="#" />
          <h5>Recordar Inicio de sesion</h5>
        </div>
      </div>
      <div class="button">
        <button class="iniciar" type="submit">Iniciar Sesion</button>
        <button class="crear" type="submit">Crear Cuenta</button>
      </div>
    </div>
    <div class="Textright">
      <h4 class="parrafo">Que gutos verte de nuevo</h4>
      <h2 class="titletext">Bienvenido de nuevo</h2>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos natus libero earum corporis, quam
        odio, suscipit consequuntur optio a deserunt expedita illo accusamus atque sit quidem distinctio quae
        vel! Totam.</p>

    </div>
  </div>
</main>