<div class="antialiased bg-gray-50 dark:bg-gray-900 min-h-screen flex flex-col">
  <ng-container *ngIf="!isLoginRoute">
    <app-navbar></app-navbar>
    <app-sidebar></app-sidebar>
    <main class="p-4 pt-20 transition-all duration-300 min-h-screen
                 lg:ml-64 md:ml-64 ml-16">
      <div class="rounded-lg dark:border-gray-700 mt-4">
        <router-outlet />
      </div>
    </main>
  </ng-container>

  <ng-container *ngIf="isLoginRoute">
    <router-outlet />
  </ng-container>
</div>
